<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %> 
<body>
    <%- include('partials/header') %> 

    <div class="container">
        <form class="row g-3" method="POST">
          
          <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Email</label>
            <input type="email" class="form-control" id="inputName4" name="email" value="<%= typeof old != 'undefined' && old.email ? old.email.msg : null %> ">
            <span class="text-danger"><%= (typeof errors != 'undefined' && errors.email ? errors.email.msg : null) %> </span>
          </div>
          <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="inputPassword4" name="pass">
            <span class="text-danger"><%= typeof errors != 'undefined' && errors.pass ? errors.pass.msg : null %> </span>
          </div>
          
          <div class="col-12">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="gridCheck" name="recordar">
              <label class="form-check-label" for="gridCheck">
                Check me out
              </label>
            </div>
          </div>
          <div class="col-12">
            <button type="submit" class="btn btn-primary">Sign in</button>
          </div>
        </form>
      </div>

    <%- include('partials/footer') %> 
    
</body>
</html>